@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.body{
    overflow: hidden;
}

.texts{
    justify-content: center;
    margin-top: 40px;
    margin-right: 40px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 5% 0 6%;
}

.logo {
    width: 300px;
    padding: 10px 0;
    margin-right: 60%;
    
}

.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content h1{
    font-size: 50px;
    font-weight: 600;
}

.content h1 span{
    color:rgb(181, 70, 255);
}

.content button {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 10px 12px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.time{
    display: flex;
}

.time div{
    flex-basis: 100px;
}

.time div p{
    font-size: 60px;
    margin-bottom: -19px;
}

.rocket{
    position: absolute;
    width: 250px;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #90d5fa;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

footer p {
    margin: 0;
}



.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.menu-toggle .bar { 
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s ease;
}

.navbar {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7%;        
    background-color: rgb(208, 158, 254);                                                                                                                                                                                                                     
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}  

.navbar .navbar-logo {
    font-size: 20px;
    font-weight: 800;
    color : #ffffff;

}

.navbar .navbar-logo span {
    color: rgb(98, 0, 255);
}

.navbar .nav-list a {
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    margin: 0 1rem;
    text-decoration: none;

}

.navbar .nav-list a:hover {
    color: #7331ff;
}


.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 5px;
    cursor: pointer;
    margin-bottom: 23px;
}

.hamburger span {
    display: block;
    width: 100%;
    height:3px;
    background-color: white;
    transition: all 0.3s ease;
    margin-top: 5px;
    
}

#hamburger {
    display: none;
}

/* laptop */
@media(max-width: 1366px){
    html{
        font-size: 90%;
    }
}

/* hp */
@media(max-width: 768px){
    
    html{
        font-size: 55%;
    }

    #hamburger {
        display: inline-block;
    }

    .navbar .nav-list {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #c48eff;
        width: 20rem;
        height: 30vh;
        transition: 0.3s;
    }

    .navbar .nav-list.active {
        right: 0;

    }
    .navbar .nav-list a {
        color: #ffffff;
        margin: 0.8rem;
        display: block;
        padding: 0.5rem;
        font-size: 2rem;

    }
    .dark-mode-toggle {
        position: absolute;
        /* right: 20px;
        display: flex; */
        top: auto;
        right: 20px;
        display: flex;
        align-items: center;
        color: white;
        margin-top: 5%;
    }
}

.dark-mode-toggle {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    color: white;
    padding-top: 6%;
}

body.dark-mode {
    background-color: #121212;
    color: #000000;
}

body.dark-mode .navbar {
    background-color: #333;
}

body.dark-mode .navbar .navbar-logo {
    color: #000000;
}

body.dark-mode .navbar .nav-list a {
    color: #ffffff;
}

body.dark-mode .navbar .nav-list a:hover {
    color: #cccccc;
}

body.dark-mode .content button {
    border: 2px solid #ffffff;
    color: #ffffff;
}

body.dark-mode footer {
    background-color: #333;
}

.menu-survey{
    font-size: 50px;
    text-align: center;
    color: #90d5fa;
}

.survey-form {
    background-color: #90d5fa;
    margin: 30px 30px 30px 30px;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 0%
    
}

.survey{
    padding: 20px 5px ;
    margin-left: 20px;
}

.submit-button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 45%;
    padding : 5px 20px;
    
}
.main{
    margin-top: 10%;
}

.samain {
    color: #fff;
}
