@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.body{
    overflow: hidden;
}

.navbar {
    width: 100%;
    background-color: #a1b4ec;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
} 

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(150, 129, 255, 0.8); /* Warna semi-transparan */
/* }

.menu-toggle {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

.menu-toggle .bar {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
}

/* #nav-list {
    list-style-type: none;
    display: flex;
}

#nav-list li {
    margin: 0 10px;
}

#nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex; 
    }

    #nav-list {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0;
        bottom: 70%;
        width: 30%;
        background-color: rgba(196, 93, 255, 0.9); 
        text-align: center;
    }

    #nav-list.active {
        display: flex; 
    }

    #nav-list li {
        margin: 20px 0;
    }

    .navbar ul li a {
        font-size: 24px;
    }
}  */

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
}

.logo {
    width: 300px;
    padding: 20px 0;
}

.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content h1{
    font-size: 50px;
    font-weight: 600;
}

.content h1 span{
    color:rgb(181, 70, 255);
}

.content button {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 10px 12px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.time{
    display: flex;
}

.time div{
    flex-basis: 100px;
}

.time div p{
    font-size: 60px;
    margin-bottom: -19px;
}

.rocket{
    position: absolute;
    width: 250px;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}